<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <span class="right">Copyright &copy; 2017 - {{ 'now' | date('Y') }}</span>
            <span>
                Developed by <a href="https://devs-cast.com" target="_blank">Devscast</a>
            </span>
        </div>
    </div>
</footer>
